/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}


p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.tbl_ind td
{
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px Gray;
}
.tbl_ind
{
    margin: 0 auto;
    border: solid 1px Gray;
}
.tbl_ind tr:first-child
{
    background-color: Orange;
    font-weight: bold;
}

.tbl_users
{
    border: solid 1px Gray;
}
.tbl_users td
{
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px Gray;
}
.tbl_users tr:first-child
{
    background-color: Orange;
    font-weight: bold;
}

.center
{
    text-align: center;
}

/* For metadata display */
span .def
{
    width:400px; 
    /*background-color:yellow; */
    display:inline-block; 
    vertical-align:top;
}

div .metadata
{
    padding-left: 10px;
    width: 550px;
    text-align:left;
}

.ModeButton
{
    padding-left: 5px;
    padding-right: 5px;
}

/* For areas table on page Community.aspx. */
.hr_areas
{
    max-width: 720px;
    margin-left: 0;
    text-align: left;
}

.areas
{
    width: 720px;
    border: solid 0px black;    
}

.areas td
{
    width: 240px;
    text-align: left;
}

/* For indicators table on page ReportsInd.aspx. */
.hr_subjects
{
    max-width: 720px;
    margin-left: 0;
    text-align: left;
}

.subjects
{
    width: 720px;
    border: solid 0px black;    
}

.subjects td
{
    width: 240px;
    text-align: left;
    vertical-align: top;
    border: solid 1px #eee; /* can make border width to 0px to hide it. */
    padding: 2px;
}

/* For chart. */
/*
#MainContent_LineChart1__ParentDiv
{
    border-color: White;
}
*/

*[id^='MainContent_LineChart']
{
    border-color: White;
    display: table;
    margin: 0 auto;
}

*[id^='MainContent_BarChart']
{
    border-color: White;
    display: table;
    margin: 0 auto;
}


/*#AutoCompleteExtender1_completionListElem*/
*[id^='AutoCompleteExtender']
{
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: auto; /*300px;*/
    max-height: 300px;
    text-align: left;
    list-style-type: none;
}

.perror {
    border: 2px solid red;
}

.error 
{
    color: Red;
}

.info
{
    color: Green;
}

.page
{
    width: 95%; /*960px;*/
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

div.menu ul li.active a
{
    background-color: #cfdbe6;
    color: #465c71;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* Profile */

.tbl_profile 
{
    width: 780px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tbl_profile td
{
    border: 1px solid #eee;
    padding-left: 3px;
    padding-right: 3px;
}
.tbl_profile td:first-child
{
    width: 120px;
    font-weight: bold;
}

span.IsRequired
{
    padding-left: 5px;
    color: Red;
}